@import "tailwindcss";

@theme {
    --color-primary: #137fec;
    --color-background-light: #f6f7f8;
    --color-background-dark: #101922;

    --font-display: "Inter", sans-serif;
}

@layer base {
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');
}

@layer base {
    body {
        @apply font-display antialiased;
    }
}